@tailwind base;

*::-webkit-scrollbar {
  display: none;
}

@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.animation {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 50%;

  margin-left: -21px;
  margin-top: -21px;
  border-radius: 50%;

  border: 4px solid plum;
  border-top-color: transparent;
  border-left-color: transparent;

  animation: Rotate 0.8s infinite linear;
  z-index: 100;
}

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 640px) {
  .mobile-width {
    padding: 0 16px;
  }
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/NanumSquareRoundR.ttf") format("ttf");
}

@font-face {
  font-family: "NanumSquareRound";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/NanumSquareRoundB.ttf") format("ttf");
}

body {
  font-family: "NanumSquareRound";
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
